@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/Layout.cshtml";
}

<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

@section Scripts
    {
    <script type="text/javascript">
        //SIGNALR CON
        $(document).ready(() => {


            var connection = new signalR.HubConnectionBuilder().withUrl
                ("https://localhost:7088/SignalRHub").build();

            $("#connectionStatus").text(connection.state);

            connection.start().then(() => {
                $("#connectionStatus").text(connection.state);
                //INVOKE METHOD
                setInterval(() => {

                    connection.invoke("SendCategory");
                    connection.invoke("SendProduct");
                    connection.invoke("SendOrder");
                    connection.invoke("SendCase");
                    

                }, 1000)

            }).catch((err) => { console.log(err) });

            // KATEGORI ISLEMLERI
            connection.on("ReceiveCategoryCount", (category) => {

                $("#categoryCount").text(category);
            })

            connection.on("ReceiveAktiveProductCount", (categoryAktiveCount) => {

                $("#categoryAktiveCount").text(categoryAktiveCount);
            })

            connection.on("ReceivePassiveProductCount", (categoryPassiveCount) => {

                $("#categoryPassiveCount").text(categoryPassiveCount);
            })

            // URUN ISLEMLERI
            connection.on("ReceiveProductCount", (product) => {

                $("#productCount").text(product);
            })

            connection.on("ReceiveAVGproductPrice", (aVGProductPrice) => {

                $("#aVGProductPrice").text(aVGProductPrice+" TL");
            })
            // Gelen Liste Elemanlarini Tek Tek Alinmasi Gerekiyor
            connection.on("ReceiveMinproductPrice", (minproduct) => {

               // $("#MinproductPrice").text(Minproduct.Item1);
                $("#minproductName").text(minproduct.Item2);
                
            })
            // Gelen Liste Elemanlarini Tek Tek Alinmasi Gerekiyor
            connection.on("ReceiveMaxproductPrice", (maxProduct) => {

               // $("#MaxproductPrice").text(MaxProduct.Item1);
                $("#maxproductName").text(maxProduct.Item2);
              
            })

            connection.on("ReceiveAVGHamburgerPrice", (Hamburger) => {
             
                $("#hamburgerAVG").text(Hamburger+" TL");
              
            })

            // SIPARIS ISLEMLERI
            connection.on("ReceiveTotalOrder", (totalOrder) => {
                $("#totalOrderCount").text(totalOrder);        
            })

            connection.on("ReceiveLastOrderPrice", (lastOrder) => {
                $("#lastOrderTotal").text(lastOrder+" TL");
            })

            connection.on("ReceiveAktiveOrderCount", (aktiveOrder) => {
                $("#aktiveOrdersCount").text(aktiveOrder);
            })

            connection.on("ReceiveTableCount", (table) => {
                $("#tableCount").text(table+" Adet");
            })

            connection.on("ReceiveTodayEarnig", (todayEarnig) => {
                $("#todayEarnig").text(todayEarnig+" TL");
            })
            // KASA ISLEMLERI
            connection.on("ReceiveTotalCase", (totalCase) => {
                $("#totalCase").text(totalCase+" TL");
            })

        });
    </script>

  }

<div class="container-fluid">

    <h4 class="page-title" id="connectionStatus"></h4>
    <div class="row">
        <div class="col-md-3">
            <div class="card card-stats card-warning">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-5">
                            <div class="icon-big text-center">
                                <i class="la la-outdent"></i>
                            </div>
                        </div>
                        <div class="col-7 d-flex align-items-center">
                            <div class="numbers">
                                <p class="card-category">Kategori Sayisi</p>
                                <h4 class="card-title" id="categoryCount"></h4>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card card-stats card-success">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-5">
                            <div class="icon-big text-center">
                                <i class="la la-bar-chart"></i>
                            </div>
                        </div>
                        <div class="col-7 d-flex align-items-center">
                            <div class="numbers">
                                <p class="card-category">Urun Sayisi</p>
                                <h4 class="card-title" id="productCount"></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-stats card-danger">
                <div class="card-body">
                    <div class="row">
                        <div class="col-5">
                            <div class="icon-big text-center">
                                <i class="la la-newspaper-o"></i>
                            </div>
                        </div>
                        <div class="col-7 d-flex align-items-center">
                            <div class="numbers">
                                <p class="card-category">Aktif Kategori </p>
                                <h4 class="card-title" id="categoryAktiveCount"></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-stats card-primary">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-5">
                            <div class="icon-big text-center">
                                <i class="la la-check-circle"></i>
                            </div>
                        </div>
                        <div class="col-7 d-flex align-items-center">
                            <div class="numbers">
                                <p class="card-category">Pasif kategori</p>
                                <h4 class="card-title" id="categoryPassiveCount"></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="container-fluid">

    <div class="row">
        <div class="col-md-3">
            <div class="card card-stats card-primary">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-5">
                            <div class="icon-big text-center">
                                <i class="la la-users"></i>
                            </div>
                        </div>
                        <div class="col-7 d-flex align-items-center">
                            <div class="numbers">
                                <p class="card-category">Ortalama Urun Fiyati</p>
                                <h4 class="card-title" id="aVGProductPrice"></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-stats card-info">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-5">
                            <div class="icon-big text-center">
                                <i class="la la-bar-chart"></i>
                            </div>
                        </div>
                        <div class="col-7 d-flex align-items-center">
                            <div class="numbers">
                                <p class="card-category">En Yuksek Fiyatli Urun</p>
                                <h4 class="card-title" id="maxproductPrice"></h4>
                                <h4 class="card-title" id="maxproductName"></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-stats carousel-dark">
                <div class="card-body">
                    <div class="row">
                        <div class="col-5">
                            <div class="icon-big text-center">
                                <i class="la la-newspaper-o"></i>
                            </div>
                        </div>
                        <div class="col-7 d-flex align-items-center">
                            <div class="numbers">
                                <p class="card-category">En Dusuk Fiyatli Urun</p>
                                <h4 class="card-title" id="minproductPrice"></h4>
                                <h4 class="card-title" id="minproductName"></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-stats card-link">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-5">
                            <div class="icon-big text-center">
                                <i class="la la-check-circle"></i>
                            </div>
                        </div>
                        <div class="col-7 d-flex align-items-center">
                            <div class="numbers">
                                <p class="card-category">Ortalama Hamburger Fiyati</p>
                                <h4 class="card-title" id="hamburgerAVG"></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

                
<div class="container-fluid">

    <div class="row">
        <div class="col-md-3">
            <div class="card card-stats card-sub">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-5">
                            <div class="icon-big text-center">
                                <i class="la la-users"></i>
                            </div>
                        </div>
                        <div class="col-7 d-flex align-items-center">
                            <div class="numbers">
                                <p class="card-category">Toplam Siparis Sayisi</p>
                                <h4 class="card-title" id="totalOrderCount"></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-stats card-success">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-5">
                            <div class="icon-big text-center">
                                <i class="la la-bar-chart"></i>
                            </div>
                        </div>
                        <div class="col-7 d-flex align-items-center">
                            <div class="numbers">
                                <p class="card-category">Son Siparis Tutari</p>
                                <h4 class="card-title" id="lastOrderTotal"></h4>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-stats card-danger">
                <div class="card-body">
                    <div class="row">
                        <div class="col-5">
                            <div class="icon-big text-center">
                                <i class="la la-newspaper-o"></i>
                            </div>
                        </div>
                        <div class="col-7 d-flex align-items-center">
                            <div class="numbers">
                                <p class="card-category">Aktif Siparis Sayisi</p>
                                <h4 class="card-title" id="aktiveOrdersCount"></h4>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-stats card-primary">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-5">
                            <div class="icon-big text-center">
                                <i class="la la-check-circle"></i>
                            </div>
                        </div>
                        <div class="col-7 d-flex align-items-center">
                            <div class="numbers">
                                <p class="card-category">Masa Sayisi</p>
                                <h4 class="card-title" id="tableCount"></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="container-fluid">

    <div class="row">
        <div class="col-md-3">
            <div class="card card-stats card-warning">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-5">
                            <div class="icon-big text-center">
                                <i class="la la-users"></i>
                            </div>
                        </div>
                        <div class="col-7 d-flex align-items-center">
                            <div class="numbers">
                                <p class="card-category">Bugunku Kazanc</p>
                                <h4 class="card-title" id="todayEarnig"></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-stats card-success">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-5">
                            <div class="icon-big text-center">
                                <i class="la la-bar-chart"></i>
                            </div>
                        </div>
                        <div class="col-7 d-flex align-items-center">
                            <div class="numbers">
                                <p class="card-category">Kasadaki Tutar</p>
                                <h4 class="card-title" id="totalCase"></h4>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    

    </div>
</div>