@model List<ResultCategoryDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Layout/Layout.cshtml";
}

<table class="table mt-3">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Kategori Adi</th>
            <th scope="col">Kategori Durumu</th>
            <th scope="col">Sil</th>
            <th scope="col">Guncelle</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {   
            <tr>
                <td> <input type="hidden" value="@item.CategoryID" /></td>
                <td>@item.CategoryName</td>
                <td>@item.CategoryStatus</td>
                <td><a href="/Category/DeleteCategory/@item.CategoryID" class="btn btn-outline-danger">Sil</a></td>
                <td><a href="/Category/UpdateCategory/@item.CategoryID" class="btn btn-outline-success">Guncelle</a></td>
            </tr>
        }
         @ViewBag.ErrorMessage
    </tbody>
</table>

   <a href="/Category/CreateCategory/" class="btn btn-outline-info">Yeni Kategori Olustur</a>
