@model ResultContactDto

<footer class="footer_section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 footer-col">
                <div class="footer_contact">
                    <h4>
                       Bizimle İletişime Geçin
                    </h4>
                    <div class="contact_link_box">
                        <a href="@Model.ContactLocation">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <span>
                               Konum
                            </span>
                        </a>
                        <a href="tel:@Model.ContactPhone">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <span>
                                Arayın @Model.ContactPhone
                            </span>
                        </a>
                        <a href="mailto:@Model.ContactMail">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <span>
                                @Model.ContactMail
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 footer-col">
                <div class="footer_detail">
                  
                    <p>
                      @Model.ContactFooterDescription
                    </p>



                    @await Component.InvokeAsync("_UILayoutFooterSocialMediaPartialComponent")
                </div>
            </div>
            <div class="col-md-4 footer-col">
                <h4>
                   Gel Al Gunleri
                </h4>
                <p>
                    Pazartesi - Çarşama - Cuma
                </p>
                <p>
                    10.00  - 18.00 
                </p>
            </div>
        </div>
        <div class="footer-info">
            <p>
                &copy; <span id="displayYear"></span> All Rights Reserved By
                <a href="https://html.design/">Free Html Templates</a><br><br>
                &copy; <span id="displayYear"></span> Distributed By
                <a href="https://themewagon.com/" target="_blank">ThemeWagon</a>
            </p>
        </div>
    </div>
</footer>
