@model List< ResultAboutDto>

<section class="about_section layout_padding">
    <div class="container  ">
        @foreach (var item in Model)
        {
            
        
        <div class="row">
            <div class="col-md-6 ">
                <div class="img-box">
                    <img src="@item.AboutImageUrl" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>
                            Biz Kimiz
                        </h2>
                    </div>
                     <p>
                            @item.AboutTitle
                    </p>
                    <p>
                            @item.AboutDescription
                    </p>
                   
                </div>
            </div>
        </div>
        }
    </div>
</section>